* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search {
  padding-top: 20px;
}

.search .form-control {
  margin: auto;
  padding: auto;
  width: 300px;
  height: 45px;
}

.wrapper {
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .box {
  width: 400px;
  height: 400px;
  border: 3px solid black;
  margin: auto;
  padding: auto;
}

.wrapper .box .ball {
  border-radius: 100%;
  border: 2px solid black;
  width: 60px;
  height: 60px;
  position: relative;
  left: 155px;
  top: 150px;
}

.wrapper .small-box {
  width: 150px;
  height: 90px;
  border: 3px solid black;
  margin: auto;
  padding: auto;
  margin-top: 10px;
}

.wrapper .small-box .left-top {
  width: 25px;
  height: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.wrapper .small-box .left-center {
  width: 35px;
  height: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.wrapper .small-box .left-bottom {
  width: 25px;
  height: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.wrapper .small-box .center-top {
  width: 15px;
  height: 25px;
  border: 2px solid black;
  cursor: pointer;
}

.wrapper .small-box .center {
  width: 10px;
  height: 10px;
  border: 2px solid black;
  cursor: pointer;
}

.wrapper .small-box .center-bottom {
  width: 15px;
  height: 25px;
  border: 2px solid black;
  cursor: pointer;
}

.wrapper .small-box .right-top {
  width: 25px;
  height: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.wrapper .small-box .right-center {
  width: 35px;
  height: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.wrapper .small-box .right-bottom {
  width: 25px;
  height: 15px;
  border: 2px solid black;
  cursor: pointer;
}
